.category--card{
    @include flex-col;
    gap: 0.7rem;
    border: solid $secondary;
    border-radius: $m-border-radius;
    padding: $s-pad;
    width: 130px;
    height: 180px;
    background-color: $secondary;
    transition: all 300ms;

    @include mobile{
        width: 95px;
        height: 120px;
    }

    &:hover{
        transform: scale(1.05);
    }

    img{
        width: 60%;
    }


}