.category--card{
    @include flex-col;
    border: solid $secondary;
    border-radius: $m-border-radius;
    padding: $s-pad;
    width: 150px;
    height: 200px;
    background-color: $secondary;
    transition: all 300ms;

    @include mobile{
        width: 95px;
        height: 130px;
    }

    &:hover{
        transform: scale(1.03);
    }

    img{
        width: 80%;
    }


}