.confirmation--modal{
    position: absolute;
    width: 20%;
    padding-block: $s-pad;
    background-color: $secondary;
    top: 35%;
    @include flex-col;
    border-radius: $m-border-radius;
    
    *{
        color: $default;
    }
    
    div{
        @include flex-row;
        
        h3{
            background-color: red;
            padding: $s-pad;
            border-radius: $m-border-radius;
            cursor: pointer;

            &:last-child{
                background-color: $primary;
            }
        }
    }
}