#signup{
    
    form{
        background-color: $default;
        
        div{
            width: 100%;

            input{

                &:hover{
                    border: 1px solid $extras;
                }
            }
        }
    }
}