#signup, .container{
    
    form{
        background-color: $default;

        @include mobile{
            width: 90%;
        }

        i{
            width: 90%;
            margin: auto;
        }

        div{
            width: 100%;

            input{

                &:hover{
                    border: 1px solid $extras;
                }
            }
        }
    }
}