#createAds{
    @include desk-width;
    margin-top: $xl-margin;

    form{
        box-shadow: none;
        border: double $secondary;
        box-shadow: 0 5px 5px 0 rgba(0 0 0 / 0.2);

    }


    // mobile
    @include mobile{
        @include mobile-width;
        padding: $m-pad;

        form{
        }
    }
}