header{
    background-color: $primary;
    margin: auto;
    width: 100%;
    min-height: 60vh;
    @include flex-col;
    margin-top: 3.5rem;
    padding: $m-pad;

    *{
        color: $default;
        text-align: center;
    }

    .categories{
        @include flex-row;
        flex-wrap: wrap;
    }
}