nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    padding: $xs-pad;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;

    @include mobile{
        position: relative;

        *{
            font-size: 0.9rem;
        }
    }

    ul{
        width: 70%;
        @include flex-row;
        margin: auto;
        justify-content: space-around;

        @include mobile{
            @include mobile-width;
        }
        
        
        li{
            color: $default;

            @include mobile{
                display: none;
            }

            &:first-child{
                margin-right: auto;
            }

            &:last-child{
                background-color: $secondary;
                border-radius: $m-border-radius;
                padding: 0.4rem;

                @include mobile{
                    font-size: 0.7rem;
                    display: block;
                    margin-left: auto;
                    padding: 0.3rem $xs-pad;
                }
            }

        }
    }

}

// mobile nav
#mNav{
    display: none;
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto;
    z-index: 10;

    @include mobile{
        display: block;
    }
    
    ul{
        margin: auto;
        border-radius: $m-border-radius;
        background-color: $secondary;
        width: 70%;
        @include grid(3, 1fr);
        padding-block: $s-pad;
        border: 1px solid $dark;

        li{
            margin: auto;
            color: $default;
            font-size: 1rem;
        }
    }
}

