section{
    @include desk-width;
    @include flex-col;
    align-items: flex-start;
    margin-block: $m-margin;

    .section--title{
        width: 100%;
        padding: $xs-pad;
        background-color: $secondary;
        border-radius: $m-border-radius;
    }

    .products{
        @include flex-row;
        flex-wrap: wrap;
    }
}