#profile{
    

    .container--item{
        width: 60%;
        padding: $m-pad;
        gap: $s-margin;

        @include mobile{
            @include mobile-width;
            padding: 0;

            div{
                border-radius: 0 !important;
            }
        }

        *{
            color: $default;
        }

        .header{
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            background-color: $secondary;
            padding: $s-pad;
            border-radius: $m-border-radius;

            @include mobile{
                flex-direction: column;
                justify-content: center;
                
                *{
                    text-align: center;
                    margin: auto;

                }
            }

            .info--button{
                a{

                    background-color: $primary;
                    
                    &:hover{
                        background-color: $secondary;
                        border: solid $primary;
                    }

                    @include mobile{
                        margin-block: $s-margin;
                    }
                }
            }   

            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: double $primary;
            }            
        }

        .address{
            width: 100%;
            @extend .header;
            justify-content: flex-start;
            padding: $xs-pad;
            margin-block: 0;

            @include mobile{
                flex-direction: row;
            }
        }

        .about{
            width: 100%;
            min-height: 100px;
            background-color: $primary;
            border-radius: $m-border-radius;
            padding: $xs-pad;

            p{
                border: double $primary;
                border-radius: $m-border-radius;
                min-height: 100px;
            }
        }

        .reviews{
            @extend .address;
        }

        .active{
            width: 100%;

            h2{
                padding: $xs-pad;
                background-color: $primary;
                border-radius: $m-border-radius;
                margin-bottom: $s-margin;
            }

            .flex-row{
                flex-wrap: wrap;
                border: double $primary;
                border-radius: $m-border-radius;
                padding-block: $s-pad;
                
                @include mobile{
                    @include grid(2, 1fr);
                    border: none;
                }
            }
        }
    }

}