#profile{
    margin: 0;
    margin-top: $xl-pad;
    padding: 0;

    @include mobile{
        margin-block: 2.5rem;
        border: solid red;
    }
    
    .container--item{
        width: 60%;
        padding: $s-pad;
        gap: $s-margin;

        @include mobile{
            @include mobile-width;
            padding: 0rem;
            margin: 0rem;

            div{
                border-radius: 0 !important;
            }
        }

        @include tablet{
            @include tablet-width;
        }

        .header, .info--button, .address, .reviews, .about{
            *{
                color: $default ;
            }
        }

        .header{
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            background-color: $secondary;
            padding: $m-pad;
            border-radius: $m-border-radius;

            @include mobile{
                flex-direction: column;
                justify-content: center;
                padding: $s-pad;
                
                *{
                    text-align: center;
                    margin: auto;

                }
            }

            .info--button{
                a{

                    background-color: $primary;
                    
                    &:hover{
                        background-color: $secondary;
                        border: solid $primary;
                    }

                    @include mobile{
                        margin-block: $s-margin;
                    }
                }
            }   

            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: double $primary;
            }            
        }

        .address{
            width: 100%;
            @extend .header;
            justify-content: flex-start;
            padding: $xs-pad $m-pad;
            margin-block: 0;

            @include mobile{
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0;
                padding: $xs-pad;
                
                h3{
                    margin: 0;
                }
            }
        }

        .about{
            width: 100%;
            min-height: 100px;
            background-color: $primary;
            border-radius: $m-border-radius;
            padding: $m-pad;

            p{
                border: double $primary;
                border-radius: $m-border-radius;
                min-height: 100px;
                margin-block: $s-margin;
            }

            @include mobile{
                padding: $xs-pad;
            }
        }

        .reviews{
            @extend .address;
        }

        .active{
            width: 100%;
            @include flex-col;
            gap: 0.3rem;

            h2{
                width: 100%;
                padding: $xs-pad $m-pad;
                background-color: $primary;
                border-radius: $m-border-radius;
                color: $default;

                @include mobile{
                    border-radius: 0;
                    padding: $xs-pad;
                    justify-content: flex-start;
                }
            }

            .flex-row{
                flex-wrap: wrap;
                border-radius: $m-border-radius;
                padding-block: $s-pad;
                margin: auto;
                
                @include custom-screen(360px){
                    .product--card{
                        width: 80%;
                    }
                }

                @include mobile{
                    border: none;
                }
            }
        }
    }

}