.product--card{
    border: solid $primary;
    border-radius: $m-border-radius;
    width: 200px;

    img{
        width: 100%;
    }

    .card--detail{
        padding: $xs-pad;
        background-color: $primary;
        color: $default;

        h5{
            color: $secondary;
        }

        p{
            color: $extras;
        }
    }
}